@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* ======== RESET GERAL ======== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ======== ESPECIFICAÇÃO VARS, REM ETC ======== */
:root{
    font-size: 62.5%; /* 1rem = 10px */
    --hue:170;
    --logo-path: hsl(var(--hue), 0%, 100%);
    --primary-color:hsl(var(--hue), 100%, 26%);
    --secondary-color: hsl(var(--hue), 100%, 14%);
    --brand-beige:hsl(var(--hue), 100%, 97%);
    --brand-green:hsl(var(--hue), 23%, 65%);
    --headline:hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --nav-height: 7.2rem;
    --bg-light: hsl(180, 14%, 97%);
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: "DM Sans";
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay; /* retira o bug da largura do scroll */
    background: var(--bg-light);
}

section{
    padding-block: 10rem;
}

section h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    font-weight: 700 bold;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

section h2{
    font-size: 3rem;
    color: var(--headline);
    line-height: 130%;
}

section h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}


.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

/* ======== NAVIGATION ======== */

nav{
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav.scroll {
    background: var(--primary-color);
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

/* ======== MENU EXPANDED ======== */
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateY(100%);
    /* joga o menu lá pra baixo */
}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transform: translateY(0%);
    /* manda o menu voltar de baixo pra cima */
    transition: transform 300ms ease-out;
}

.social-links{
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded button path{
    stroke: white;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    transition: background 500ms;
}

.menu ul li a:hover, 
.menu .social-links a:hover path,
footer ul li a:hover,
footer .social-links a:hover path
{
    color:var(--secondary-color);
    stroke: var(--secondary-color);
}

.menu .button{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 1.6rem 3.2rem;
    background: white;
    border-radius: 4rem;
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
    text-decoration: none;
    transition: background 500ms;
}

.menu .button:hover{
    background-color: var(--secondary-color);
    color: white;
}

/* ======== COLOR SLIDER ======== */

#cor{
    appearance: none;
    border-radius: 1rem;
    background: white;
}

#cores{
    color: white;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

/* ======== HOME ======== */

#home{
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background: var(--brand-green);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

#home a, #contact a{
    background-color: var(--primary-color);
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;
    border-style: none;
    border-radius: 4rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-inline: auto;
    transition: background 300ms;
}

#home a:hover, #contact a:hover{
    background-color: var(--secondary-color);
}

#home img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
}

#home .container{
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background: var(--brand-beige);
    border: 1px solid var(--brand-green);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stats h3{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--headline);
    margin-bottom: 0.4rem;
}

#home .stats p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--primary-color);
    margin: 0;    
}

/* ======== SERVICES ======== */
#services header h2{
    font-weight: 700 bold;
    text-align: center;
    margin-bottom: 6rem;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card{
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 0.1rem solid var(--brand-green);
    border-radius: 0.6rem;
}

#services .card h2{
    margin-block: 1.6rem;
}

#services .card circle{
    fill: var(--brand-green);
}

#services .card path{
    stroke: white;
}


/* ======== ABOUT ======== */
#about{
    background: var(--brand-beige);
    text-align: left;
}

#about header h4{
    text-align: left;
}

#about header h2{
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
}

#about img{
    width: 32.7rem;
    height: 28.2rem;
    margin-top: 6rem;
    border: 1px solid var(--brand-green);
    border-radius: 0.6rem;
}

/* ======== CONTACT ======== */
#contact{
    text-align: left;
}

#contact header h2{
    font-weight: 700;
    margin-bottom: 3.2rem;
    line-height: 3.9rem;
    text-align: left;
}

#contact a{
    margin-inline: 0;
}

#contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contact ul li{
    display: flex;
    align-content: center;
    gap: 0.81rem;
    color: var(--paragraph);
}

#contact .content{
    padding-top: 1.6rem;
    gap: 6rem;
}

#contact img{
    width: 32.4rem;
    height: 21.3rem;
    border: 1px solid var(--brand-green);
    border-radius: 0.6rem;
}

/* ======== FOOTER ======== */
footer{
    background: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: white;
    font-size: 1.6rem;
}

footer .logo{
    width: 23.6rem;
    height: 3.1rem;
    margin-bottom: 2.4rem;
}

footer .logo path{
    fill: white;
}

footer .social-links{
    display: flex;
    gap: 3.2rem;
    justify-content: flex-start;
}

footer .social-links path{
    stroke: var(--brand-beige);
}

footer p{
    margin-bottom: 1.2rem;
    color: var(--brand-beige);
}

footer ul{
    margin-top: 3.2rem;
}

/* ======== BACK TO TOP ======== */
#backToTopButton{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 500ms;
}

#backToTopButton.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

/* ======== COLOR SWAPPING ======== */
#backToTopButton.show svg circle, 
#navigation .logo path[fill*="#00856F"]{
    fill: var(--primary-color);
}

#navigation.scroll .logo path, body.menu-expanded #navigation .logo path{
    fill:white;
}

#navigation button.open-menu path[stroke*="#00856F"]{
    stroke: var(--primary-color);
}

#contact ul li path{
    stroke: var(--brand-green);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"]{
    stroke: white;
}

#backToTopButton.show-contrast{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

#backToTopButton.show-contrast svg circle{
    fill: white;
}

#backToTopButton.show-contrast svg path{
    stroke: var(--primary-color);
}
